@font-face {
    font-family: 'Rotunda';
    src: local('Rotunda Bold'), local('Rotunda-Bold'),
        url('/fonts/Rotunda-Bold.woff2') format('woff2'),
        url('/fonts/Rotunda-Bold.woff') format('woff'),
        url('/fonts/Rotunda-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Rotunda';
    src: local('Rotunda Medium'), local('Rotunda-Medium'),
        url('/fonts/Rotunda-Medium.woff2') format('woff2'),
        url('/fonts/Rotunda-Medium.woff') format('woff'),
        url('/fonts/Rotunda-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rotunda';
    src: local('Rotunda Regular'), local('Rotunda-Regular'),
        url('/fonts/Rotunda-Regular.woff2') format('woff2'),
        url('/fonts/Rotunda-Regular.woff') format('woff'),
        url('/fonts/Rotunda-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Rotunda', sans-serif;
}

body {
    background-color: #FE6B01;
    font-family: 'Rotunda';
}

.bg-color {
    background-color: #fff;
    height: 682px;
    width: 100%;
    padding: 80px 0;
    border-radius: 51px;
}

.card {
    box-shadow: 0px 5px 20px 0px #707070;

}

.trip-history-bg {
    background-image: url('../Images/mobile.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 510px;
    width: 100%;

}

.trip-card {
    height: 262px;
    margin-top: 80px;

}

.trip-amount {
    background-color: #FE6B01;
    color: #fff;
    padding: 10px 0px;
    border-radius: 32px;
    font-size: 49px;
    line-height: 59px;
    font-weight: 200;
    margin: 0 80px 15px 80px;


}

.trip-day {
    color: #FE6B01;
    font-size: 28px;
    line-height: 33px;
    font-weight: 200;
    margin-top: 10px;
}

.card-footer {
    color: #FE6B01;
    font-size: 28px;
    line-height: 33px;
    font-weight: 200;
}