@font-face {
    font-family: 'Rotunda';
    src: local('Rotunda Bold'), local('Rotunda-Bold'),
        url('/fonts/Rotunda-Bold.woff2') format('woff2'),
        url('/fonts/Rotunda-Bold.woff') format('woff'),
        url('/fonts/Rotunda-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
@font-face {
    font-family: 'Rotunda';
    src: local('Rotunda Medium'), local('Rotunda-Medium'),
        url('/fonts/Rotunda-Medium.woff2') format('woff2'),
        url('/fonts/Rotunda-Medium.woff') format('woff'),
        url('/fonts/Rotunda-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rotunda';
    src: local('Rotunda Regular'), local('Rotunda-Regular'),
        url('/fonts/Rotunda-Regular.woff2') format('woff2'),
        url('/fonts/Rotunda-Regular.woff') format('woff'),
        url('/fonts/Rotunda-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
*{
    font-family:'Rotunda',sans-serif;
}

nav{
    padding: 20px;
    background-color: #FE6B01 !important;
    
}
nav ul li{
    margin-top: 10px;
}
.nav-item a.nav-link{
    font-family:'Rotunda',sans-serif;
    color: #fff !important;
    font-weight: bold;
    border-radius: 25px;
    padding: 5px;
    margin: 5px;

}
/* nav ln icon */
span.flag-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    padding-top: 4px;
}

.nav-item a.nav-link.active, .nav-item a.nav-link:hover{
    border-radius: 25px;
    font-family:'Rotunda',sans-serif;
    color: #FE6B01 !important;
    font-weight: bold;
    background-color: #fff !important;
    

}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #ffffff;
    color: #FE6B01;
}



